@font-face {
  font-family: Poppins;
  src: url(./assets/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Roobert;
  src: url(./assets/roobert/RoobertTRIAL-Regular.otf);
}

:root {
  --yellow: #fff897;
  --yellow2: #fff89741;
  --font-color: #fffbc4;
  --black: #040403;
  --black2: #04040348;
  --white: #eeeccc;
  --error: #FF6961;
  --success: #D2FF97;
  --warn: #FFC497;
}


.notification {
  position: fixed;
  width: 50%;
  max-width: max-content;
  height: 50px;
  top: 20px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transform: translate(-50%);
}

.notification.close {
  animation: slideOutNotification 1s forwards cubic-bezier(1, 0, 0, 1);
}

.notification.active {
  animation: slideInNotification 1s forwards cubic-bezier(1, 0, 0, 1);
}

@keyframes slideInNotification {
  from {
    left: 0;
    visibility: hidden;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideOutNotification {
  to {
    left: 0;
    visibility: hidden;
    opacity: 0;
  }
  from {
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
}

.notificationWrap[data-type="warn"] {
  background: var(--warn);
}

.notificationWrap[data-type="success"] {
  background: var(--success);
}

.notificationWrap[data-type="error"] {
  background: var(--error);
}

.notificationWrap {
  background: rgb(88, 88, 88);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  position: relative;
  justify-content: start;
  -webkit-app-region: no-drag;
}

.not-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
}

.notificationWrap h2 {
  color: #111111;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.notificationWrap p {
  font-size: 1rem;
  color: #111111;
}

.notificationWrap code {
  font-weight: bold;
  text-decoration: underline;
}

.notificationWrap>i {
  font-size: 2rem;
  margin: auto 20px auto 0px;
  background: #1d1d1d54;
  border-radius: 50%;
}

.notificationWrap>i::before {
  font-family: unicons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  color: #1d1d1d;
  -moz-osx-font-smoothing: grayscale;
}

.notificationWrap[data-type="warn"]>i::before {
  content: '\eb70';
  color: var(--warn);
}

.notificationWrap>a {
  color: #1d1d1d54;
  position: absolute;
  right: 10px;
  top: 10px;
}

.notificationWrap>a:hover {
  cursor: pointer;
  color: #1111118a;
}

.notificationWrap[data-type="success"]>i::before {
  content: '\eb6e';
  color: var(--success);
}

.notificationWrap[data-type="error"]>i::before {
  content: '\eb6f';
  color: var(--error);
}

body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  color: #040403;
}

* {
  box-sizing: border-box;
  padding: 0;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  margin: 0%;
}

body .mount {
  border-radius: 20px;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: var(--black);
  border: 2px solid var(--yellow);
  display: flex;
  justify-content: start;
  flex-direction: row;
}

nav {
  height: 100%;
  width: 200px;
  -webkit-app-region: drag;
  background: var(--yellow);
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-content: center;
  padding: 8px;
  position: relative;
  z-index: 8;
}

@keyframes menuSlideIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    width: 0;
  }
  to {
    width: 200px;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes menuSlideOut {
  from {
    opacity: 1;
    width: 200px;
    visibility: visible;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    visibility: hidden;
    width: 0;
    padding: 0;
    transform: translateX(-100%);
  }
}

.offline{
  display: none;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 10px;
  width: 100%;
  transform: translate(-50%);
  color: var(--error);
  animation: parpadeo .5s ease infinite;
}

.offline h2{
  font-size: 18px;
  
}

@keyframes parpadeo{
  0%{
    color: var(--yellow);
  }
  100%{
    color: var(--error);
  }
}

.mount[data-login="true"] nav {
  animation: menuSlideIn .5s normal forwards;
}

.mount[data-login="false"] nav {
  -webkit-app-region: no-drag;
  animation: menuSlideOut .5s normal forwards;
}

.mount[data-login="false"] .app {
  width: 100% !important;
}

/*
Navbar
*/

nav .logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  margin: 50px auto;
}

nav .logo img {
  width: 70px;
  margin: 0 auto;
}

nav .logo h2 {
  text-align: center;
  color: var(--black);
  margin: 0 auto;
}

nav ul {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

nav ul li {
  font-size: 25px;
  text-align: left;
  cursor: pointer;
  margin: 15px;
  color: #48403F;
}

nav ul li>span {
  font-size: 18px;
}

nav ul li:hover, nav ul li.active {
  color: var(--black);
}

nav a:last-child {
  margin: 0 auto;
}

nav a {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  color: #48403F;
  margin: auto auto 5px;
  display: flex;
  -webkit-app-region: no-drag;
  align-items: center;
  border-radius: 30px;
  padding: 4px 8px;
}

nav a:hover {
  background: var(--black2);
  color: var(--black);
}

nav a i {
  margin: auto 0 auto auto;
}

nav a span {
  font-size: 16px;
  margin: auto auto auto 0;
}

.app {
  display: flex;
  width: calc(100% - 200px);
  height: 100%;
  position: relative;
}

.wrapper {
  display: none;
  width: 100%;
  height: 100%;
  color: #eeeccc;
  animation: slideIn .3s normal forwards;
}

.wrapper.visible {
  display: flex;
}

@keyframes slideIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.controls {
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: no-drag;
}

.controls a {
  color: white;
  margin: auto 5px;
  padding: 4px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

#minimize {
  opacity: .6;
}

#minimize:hover {
  opacity: 1;
}

#close {
  border-radius: 4px;
  padding: 4px 8px;
}

#close:hover {
  color: rgb(201, 97, 97);
  background: rgba(124, 68, 68, 0.575);
}

#minimize::after {
  position: absolute;
  content: '';
  left: 5px;
  bottom: 5px;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background: white;
}

.svg {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.svg.bottom {
  bottom: 0;
}

/*

LOADER SCREE
*/

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: #FFF897;
  z-index: 99;
  flex-direction: column;
  animation: none !important;
  transition: none !important;
  border-radius: 10px;
  -webkit-app-region: drag;
}

#loading img {
  width: 100px;
  margin: auto;
}

/*
  hone
*/

#home.visible {
  flex-direction: column;
  justify-content: start;
}

.header {
  width: 100%;
  margin: 10px 10px 0 auto;
  display: flex;
  padding: 8px;
}

.header .user:hover {
  background: var(--yellow2);
}

.header .user {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: var(--yellow);
  transition: all .2s ease;
  border-radius: 30px;
}

.header .user h3 {
  font-weight: bold;
  margin: auto 10px;
}

.dropdown-target {
  position: absolute;
  width: 100%;
}

.dropdown.down .dropdown-target.top {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.dropdown-target.top {
  opacity: 0;
  visibility: hidden;
  top: 50%;
  transition: all .5s ease;
  z-index: -1;
}

.dropdown {
  position: relative;
  z-index: 2;
}

.user.down {
  background: var(--yellow) !important;
  color: var(--black);
}

.user .dropdown-target {
  left: 0;
  background: var(--yellow);
  color: black;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: -1;
  height: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all .2s ease;
  display: block;
}

.dropdown-action {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  cursor: pointer;
}

hr {
  border-color: var(--black2);
}

.user.down .dropdown-target {
  top: 50%;
  opacity: 1;
  visibility: visible;
  height: 122px;
  padding: 0rem;
  padding-top: 11%;
}

.user.down .dropdown-target a {
  display: block;
  cursor: pointer;
  padding: 2px;
  margin: auto 0 auto 10px;
  opacity: .5;
}

.user.down .dropdown-target a:hover {
  opacity: 1;
}

.user.down .dropdown-target a:last-child {
  margin: auto;
  text-align: center;
}

.header .user h3 span {
  font-weight: lighter;
}

.header .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slider {
  width: 100%;
  height: 250px;
  position: relative;
}

/*
.slider::after {
  content: '';
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, var(--black), transparent);
  z-index: 1;
}

.slider::before {
  content: '';
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, transparent, var(--black));
  z-index: 2;
}
*/

.categories {
  width: 100%;
  height: 100%;
  margin: 0 15px 0 0;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: start;
}

.categories.shifting {
  cursor: grabbing !important;
}

.category {
  min-width: 159px;
  width: 11.1111%;
  max-height: 160px;
  padding: 1rem 4px;
  position: relative;
  float: left;
}

.category:last-child {
  padding-right: 1rem;
}

.categories:not(.shifting) .categoryWrap {}

.categoryWrap {
  background: #1d1d1d;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  display: flex;
  padding: 0 5px;
  flex-direction: column;
  overflow: hidden;
  justify-content: end;
  position: relative;
  z-index: 1;
  word-wrap: break-word;
}

/*
.categoryWrap:hover img {
 filter: brightness(110%);
  -webkit-mask-image: -webkit-gradient(linear, left top, left 90%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
}*/

.categoryWrap>img {
  top: 0;
  object-fit: cover;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(linear, left top, left 90%, from(rgba(0, 0, 0, 0.418)), to(rgba(0, 0, 0, 0)));
}

.categoryWrap h2 {
  color: white;
  font-size: 13px;
  text-shadow: 0 0 4px black;
  margin: 0 0 4px 0;
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  font-weight: 500;
  line-height: 1.6rem;
}

.categoryWrap .catHead {
  width: 100%;
  display: flex;
  padding: 1rem;
  word-wrap: break-word;
}

.categoryWrap .catHead img {
  height: 30px;
  border-radius: 1rem;
  margin: auto 0;
}

.categoryWrap .catHead p {
  margin: auto;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
  /* Required for text-overflow to do anything */
  white-space: initial;
  overflow: hidden;
  font-family: 'Roobert';
}

.categoryWrap h2 span {
  font-size: .8rem;
  background: var(--yellow);
  color: black;
  padding: 3px 5px;
  border-radius: 1rem;
  text-shadow: none;
}

.homeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.blogWrapper .title {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  color: var(--yellow);
  display: flex;
  justify-content: space-between;
}

.blogWrapper .title .dropdown>a:nth-child(1) {
  margin: auto 0;
  opacity: .5;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.blogWrapper .title a:nth-child(1) :hover, .blogWrapper .title .dropdown.down a:nth-child(1) {
  opacity: 1;
}

.blogWrapper .title .dropdown {
  height: unset;
  width: unset;
  margin: auto 0;
}

.blogWrapper .title .dropdown .dropdown-target {
  background: #fff897;
  padding: 2px .832rem;
  color: var(--black);
  height: unset;
  width: max-content;
  border-radius: 1rem;
  left: -100%;
}

.blogWrapper .title .dropdown ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: block;
}

.blogWrapper .title .dropdown ul li {
  display: block;
  margin: 5px auto;
  opacity: .8;
}

.blogWrapper .title .dropdown ul li:hover {
  opacity: 1;
}

.blogWrapper {
  width: 100%;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.blogWrapper .blog {
  width: 100%;
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: auto;
  position: relative;
  padding: 0 0 2rem 0;
}

.homeWrapper .blog::-webkit-scrollbar {
  display: none;
}

.homeWrapper .manager {
  width: 30%;
  height: 100%;
}

.homeWrapper .blog .postWrapper {
  display: flex;
  flex: 0 1 calc(25% - 1em);
  min-width: 250px;
  height: fit-content;
  _max-height: 500px;
  padding: .5rem;
}

.postWrapper .post {
  width: 100%;
  height: 100%;
  background: #0f0f0e;
  border-radius: 10px;
  padding: 1rem;
}

.post .upp {
  display: flex;
  margin: 5px auto;
  padding: 0 1rem;
  width: 100%;
}

.post .upp h2 {
  margin: auto 0;
  color: white;
  font-size: inherit;
}

.post .upp span {
  margin: auto 0 auto auto;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.554);
}

.post .body {
  width: 100%;
  height: 100px;
  padding: 0 1rem;
  color: rgb(88, 88, 88);
  overflow: hidden;
}

.post .foo {
  padding: 1rem;
}

.post .foo p i {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.post .foo p {
  color: rgba(255, 255, 255, 0.589);
  text-align: left;
  align-content: center;
}

.post img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
  margin: 0 auto;
  transition: opacity .5s ease;
}

/*
  sign in
*/

#signin {
  -webkit-app-region: drag;
}

.signwwrap {
  -webkit-app-region: no-drag;
  margin: 15% auto auto;
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.signwwrap h2 {
  font-size: 2rem;
  font-weight: lighter;
}

.signwwrap form {
  margin: 5px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signwwrap form input {
  -webkit-appearance: none;
  text-align: center;
  font-family: Poppins, sans-serif;
  padding: 1rem 8px;
  margin: 5px auto;
  outline: none;
  width: 70%;
  color: white;
  border-radius: 8px;
  height: 30px;
  border: 1px solid #1d1d1d;
  background: #0a0a0a;
}

.signwwrap form button {
  -webkit-appearance: none;
  width: 50%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: #fff89769;
  color: var(--yellow);
  font-weight: bold;
  letter-spacing: .32rem;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  opacity: .5;
  transition: all .3s ease-in-out;
}

.signwwrap form button:hover {
  opacity: 1;
  background: var(--yellow2);
  cursor: pointer;
}

/*
  Games & Store
*/

.gcard {
  background: var(--yellow);
  padding: 20px 10px 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 50px 15px 15px 0px;
  flex-shrink: 0;
  width: 300px;
  height: 195px;
  transition: 100ms linear all
  /* 
 
  border: 2px solid #FFF897;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(4, 4, 5, .3);
 
  padding: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
  transition: 100ms linear all;*/
}

.s-card {
  display: flex;
  width: 100%;
  padding: 40px;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.s-card::-webkit-scrollbar {
  display: none;
}

.gcard:hover {
  cursor: pointer;
  transform: translateY(-2%);
}

.gcard .g-info {
  position: absolute;
  color: var(--black);
  bottom: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}

.gcard .g-info .gt {
  font-weight: 600;
  margin: 5px 0 0 10px;
  font-size: 11pt;
}

.gcard .g-info .go {
  font-weight: 600;
  margin: -6px 0 0 10px;
  font-size: 9pt;
  color: var(--black);
}

.gcard .g-info .gs {
  margin: 0 0 5px 10px;
  font-size: 11pt;
}

.gcard .g-banner {
  vertical-align: top;
  border-radius: 7px;
  position: absolute;
  top: -50px;
  width: calc(100% - 20px);
  max-height: 165px;
  object-fit: cover;
}

.g-wrapper {
  display: flex;
  width: 100%;
  padding: 40px;
  overflow-x: hidden;
  flex-wrap: no-wrap;
  flex-direction: column;
}

.g-wrapper .g-desc {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.g-desc .g-title {
  position: absolute;
  color: white;
  left: 0;
}

.g-desc .g-version {
  position: absolute;
  color: white;
  left: 60%;
}

.g-desc .g-time {
  position: absolute;
  color: white;
  left: 77%;
  text-align: center;
}

.g-wrapper .b-card a:nth-child(1) {
  margin: auto 0;
  background: var(--black);
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  width: 30px;
  cursor: pointer;
}

.g-wrapper .b-card a:nth-child(1):hover {
  color: var(--yellow);
}

.g-wrapper .b-card {
  width: 100%;
  height: 60px;
  background: rgb(17, 17, 17);
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  transition: 200ms linear all;
}

.b-card .b-status {
  margin: auto 15px;
}

.b-card .b-status .bt {
  color: white;
}

.b-card .b-status .bs {
  font-size: 10pt;
  color: rgb(192, 192, 192);
}

.g-wrapper .b-card .b-banner {
  position: relative;
  width: 90px;
  overflow: hidden;
}

.b-banner img {
  position: absolute;
  width: 30%;
  height: auto;
  left: 50%;
  top: 50%;
  filter: grayscale(100%);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.b-info {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 60%;
  color: white;
  font-size: 11pt;
}

.b-info .bv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.b-info .btm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b-info .dwn {
  position: absolute;
  width: 60px;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-info .dwn:hover {
  cursor: pointer;
  background: rgb(41, 41, 41);
}

.g-wrap {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  animation: logo-fadein 1s ease-in-out normal;
  overflow-y: auto;
}

.g-wrap::-webkit-scrollbar {
  display: none;
}

.g-wrap .g-banner {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
}

.g-wrap>img {
  width: 110%;
  left: -10%;
  object-fit: cover;
  position: fixed;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
}

.g-banner #pixel-logo {
  width: 50px;
  height: 50px;
  margin: auto 10px auto 0;
  animation: logo-fadein 1s ease-in-out normal;
}

@keyframes logo-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.g-banner h2 {
  color: #ECE0D6;
  font-size: 3.25rem;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  z-index: -1;
  margin: auto 0 0 0;
  animation: logo-fadein 1s ease-in-out normal;
}

#scrolldown {
  margin: 0 auto auto;
}

.g-wrap .g-lower {
  background: white;
  width: 90%;
  position: relative;
  z-index: 1;
  margin: 40% auto 0;
  border-radius: 1.358rem 1.358rem 0 0;
  color: var(--black);
}

.g-wrap .g-lower>p {
  padding: 1rem;
  margin: 6px 0;
}

.px-accounts {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  max-width: 200px;
}

.px-accounts h2 {
  font-size: 1rem;
  margin: 22px 0 0;
  display: flex;
  color: var(--black);
  padding: 5px;
}

.px-accounts h2 a {
  font-size: 1.2rem;
  line-height: 5px;
  margin: auto 0 auto auto;
  opacity: .8;
  cursor: pointer;
  color: black;
}

.px-accounts h2 a:hover {
  opacity: 1;
}

.px-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible auto;
  overflow-y: auto;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.g-down {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#hover-acc {
  content: '';
  position: absolute;
  left: -10px;
  top: 0px;
  background: var(--yellow);
  width: 100%;
  height: 50px;
  z-index: -1;
  transform: skewX(20deg);
}

.account-item {
  height: 50px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  position: relative;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}

.account-item:not(.active) {
  font-weight: normal;
}

.account-item:not(.active) img {
  filter: grayscale(100%);
}

.account-item p {
  margin: auto auto auto 5px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.account-item img {
  height: 50%;
  margin: auto 5px auto 0px;
}

.account-item a {
  margin: auto 0;
  font-size: 1rem;
}

.account-item i {
  margin: auto 0;
  font-size: 1.5rem;
}

.px-news {
  padding: 1rem;
  width: 80%;
  overflow-y: auto;
}

.px-news h2 {
  margin-bottom: 22px;
}

.px-news .px-blog {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: repeat(3, 1fr);
}

.px-news .px-blog a {
  width: 100%;
  display: block;
}

.px-news .px-blog a img {
  width: 100%;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
}

svg #wheel {
  -webkit-animation: scroll ease 2s infinite;
  animation: scroll ease 2s infinite;
}

.overlays[data-modal=none] {
  opacity: 0;
  visibility: hidden;
}

.overlays {
  -webkit-app-region: no-drag;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.title-git {
  margin: 15px 10px 0;
}

@media screen and (max-width: 1324px) {
  .blog {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .blog .postWrapper {
    width: 100% !important;
    min-width: unset !important;
    min-height: unset !important;
  }
  .px-news .px-blog {
    display: grid;
    grid-gap: 10px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .categoryWrap h2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1014px) {
  .blog {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}